[project]
	description = Wiki for me
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ungsik Yun (Ungsik-Yun)
[access "refs/for/refs/*"]
	read = group user/Ungsik Yun (Ungsik-Yun)
	push = group user/Ungsik Yun (Ungsik-Yun)
	label-Code-Review = -2..+2 group user/Ungsik Yun (Ungsik-Yun)
	label-Verified = -1..+1 group user/Ungsik Yun (Ungsik-Yun)
	rebase = group user/Ungsik Yun (Ungsik-Yun)
	removeReviewer = group user/Ungsik Yun (Ungsik-Yun)
	submit = group user/Ungsik Yun (Ungsik-Yun)
[access "refs/heads/*"]
	read = group user/Ungsik Yun (Ungsik-Yun)
	create = group user/Ungsik Yun (Ungsik-Yun)
	push = +force group user/Ungsik Yun (Ungsik-Yun)
	pushMerge = group user/Ungsik Yun (Ungsik-Yun)
[access "refs/tags/*"]
	push = +force group user/Ungsik Yun (Ungsik-Yun)
	pushTag = group user/Ungsik Yun (Ungsik-Yun)
	pushSignedTag = group user/Ungsik Yun (Ungsik-Yun)
